HOST=0.0.0.0
PORT=3000
NODE_ENV=development
SESSION_SECRET=troque-isto

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

BASE_URL=http://localhost:3000
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_WEBHOOK_TOLERANCE_MS=300000
